.sendMessage button {
  background: #3ad159;
  padding: 10px;
  width: 100%;
  margin-top: 14%;
  border: none;
  cursor: pointer;
}

.buttonShowMenu {
    margin: 1%;
    background-color: #53BAFA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.ant-card ant-card-bordered ant-card-hoverable {
  width: 0%;
}

.sendMessage button::before {
  content: "Hacer pedido";
  color: white;
}

#imagen {
  image-rendering: -webkit-optimize-contrast
}

.buttonPopover {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  margin: 10px;
}

h6.enlineaCarlos {
  margin-right: 2px;
}

h6.enlineaAlfonso {
  margin-right: 2px;
}

button.ButtonToggle {
  background: #e71010;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

img.logo {
  width: 100%;
  padding: 10px;
}

.logoForm {
    width: 111px;
    margin: 20%;
}

.logoInicio {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
}
